body {
	background: whitesmoke;
	font-family: IMLText;
}


ul {
  list-style: none;
  width: 20em;
  margin: 0 auto;
}

ul.needList {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;  
}

#clearComp {
  color: red;
  font-size: .4em;
  cursor: pointer;
}
#clearList {
  color: red;
  font-size: .4em;
  cursor: pointer;
}
ul.needList i{
  cursor:pointer;
  cursor: -moz-pointer;
  cursor: -webkit-pointer;  
}

.fullWrap {
  font-size: 1.9em;
  width: 40em;
  margin: 0 auto;
  text-align: center;
}

.needList li #complete{
  color: green;  
  float: left;
}

.needList li #remove{
  color: red;
  float: right;
}

.compList li{
   cursor:alias;
  color: darkblue;
  text-decoration: line-through;
}
.compList li:hover{
  cursor:alias;
  color: green;
  text-decoration: none;
}


